.container {
  width: 15em;
  margin: 4em 0 5em 5em;
  float: left;
  /* justify-content: center; */
  /* display: flex; */
  /* flex-direction: row; */
  
}

.pic img {
  width: 100%;
}
.title {
  font-weight: bold;
  margin-bottom: 1em;
}
.channel {
  font-weight: bold;
  font-size: small;
  color: #c94242;
  margin-bottom: 0.2em;
}

.views {
  font-size: small;
  color: #ccc;
  margin-bottom: 0.2em;
}

.view span {
  padding: 0 0.5em;
}

/* export :default ShowImg.css; */
